extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Bert Witzel
        p Front End and Full Stack JavaScript Developer

        .about-bio
          p I am a freelance front end web developer and full stack JavaScript developer who loves to solve problems and create incredible websites for my clients. I am a graduate of Treehouse's Front End Web Development Techdegree and I am currently making my through Treehouse's Full Stack JavaScript Techdegree. 
          p In my free time I enjoy working on side projects. I also help out students regularly in Treehouse's Slack channels and try to answer questions when I can on StackOverflow. Basically, I spend most of my free time on the computer working on whatever comes my way!
         

      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li Sass
          li Bootstrap
          li JavaScript
          li jQuery
          li Git and GitHub
          li VS Code
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info
        ul
          li bwitzel82@email.com

        a.btn-link(href='https://www.linkedin.com/in/bert-witzel-831b021b0/', target='_blank') LinkedIn
        a.btn-link(href='https://github.com/bertw82', target='_blank') GitHub
        a.btn-link(href='https://www.bertwitzel.com/', target='_blank') Main Portfolio

    nav.nav
      a(href='/')
        span &larr;
        |  Back