<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css2?family=Open+Sans&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='../static/images/portrait.jpg', alt='Picture of Bert Witzel')
        .dev-intro-box

          h5 Bert Witzel

          p Hi, I'm Bert! I'm a freelance front end web developer and full stack JavaScript developer. Welcome to my fun portfolio of side projects!

          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span Bert Witzel

      block content

  script(src='/static/js/script.js')